<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="pf1">
<head>
<title>Transparent Login Form Responsive Widget Template | Home :: w3layouts</title>
<link href="css/style2.css" rel="stylesheet" type="text/css" media="all"/>
	<link rel="stylesheet"
		  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script
			src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
			src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Transparent Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
<!--web-fonts-->
</head>

<body ng-controller="ab1">

<div class="t">
	<input type="submit" value="Logout" ng-click="logout()" class="btn btn-warning"/>
</div>
<!--main-->
<div class="main-content-agile">
	<!--<div class="sub-main-w3">	-->
		<!--<form action="#" method="post">-->
			<!--<input placeholder="Username or E-mail" name="Name" class="user" type="text" required=""><br>-->
			<!--<input  placeholder="Password" name="Password" class="pass" type="password" required=""><br>-->
			<!--<input type="submit" value="">-->
		<!--</form>-->
	<!--</div>-->


	<div style="padding-bottom:50px" >
		<table style="width:100%">
			<tr>
				<td style="width:45%;padding-left:40px;vertical-align: top">
					<div style="padding-bottom:20px; padding-right: 200px; color: white">
						<h3>Update Details Here</h3>
					</div>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-md-2 control-label" style="color: white">Name</label>
							<div class="col-md-4">
								<input type="text" class="form-control" name="name"
									   ng-model="fdata.fname" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" style="color: white">Phone</label>
							<div class="col-md-4">
								<input type="text" class="form-control" name="lname"
									   ng-model="fdata.lname" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" style="color: white">Email</label>
							<div class="col-md-4">
								<input type="text" class="form-control" name="email"
									   ng-model="fdata.email" />
							</div>
						</div>
						<div class="form-group">
							<div style="padding-right:110px">
								<input type="submit" value="Update" ng-click="update()" class="btn btn-warning"/>
							</div>
<br>
							<div style="padding-right:110px">
							<input type="submit" value="Delete" ng-click="remove()" class="btn btn-warning"/>
							</div>
						</div>
					</form>
				</td>

				<td style="vertical-align: top">
					<h2 style="color: white; padding-right: 200px">Updated Information</h2>
					<table  ng-model="dis" class="w3-table" style="color: white" >
						<tr>
							<th>Name
							</th>
							<th>Phone
							</th>
							<th>Email
							</th>
						</tr>
						<tr  style="color: white">
							<td>{{dis.fname}}</td>
							<td>{{dis.lname}}
							</td>
							<td>{{dis.email}}
							</td>
						</tr>
					</table>

	<br>
					<br>
					<h2 style="color: white; padding-right: 200px">Deleted Information</h2>
					<table  ng-model="dis" class="w3-table" style="color: white" >
						<tr>
							<th>Name</th>
							<th>Phone</th>
							<th>Email</th>
						</tr>
						<tr  style="color: white">
							<td>{{dis.fname}}</td>
							<td>{{dis.lname}}</td>
							<td>{{dis.email}}</td>
						</tr>
					</table>



				</td>
			</tr>
		</table>
	</div>

	<div>




	</div>

</div>
<!--//main-->

<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
<script src="js/index.js"></script>

</body>
</html>