⁠⁠⁠<!DOCTYPE html>
<html lang="en" ng-app="mashup">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">

    <title>mashup</title>
    <style>


    </style>

    <link rel="stylesheet" href="css/index.css">
    <script src="app.js"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>
<body background="kg1.jpg">

<div ng-controller="mycont">
    <!--<h1 align="absolute" style="text-align: center; color:darkgray">Search your query!</h1>-->
   <b> <marquee behavior="alternate" scrolldelay="290">You have logged in successfully !! Good to knowledge search :) </marquee> </b>
    <input type="text" style="margin-left:200px" ng-model="input" placeholder="enter your search query here" class="in"/>
    <button type="submit" ng-click="searchclick()" class="bt">Search</button>
    <button type="submit" onclick="signout()" class="bt" style="margin-left: 170px">Log Out</button>
    <p id="out"></p>
    <div id="se" style="display:none">
        <p ng-model="test">

       <div class="container">
       <b> Role: <br>
           {{ test.disc}} </b>
       </div>

        <div class="container">
            <b> wiki page link:
                <br>
               <a href= {{ test.wiki}}> {{test.wiki}}</a> </b>
        </div>

        <div class="images">
            <b> looks like: </b>
                <br>
            <img ng-src="{{test.link}}" width="140px" height="110px"> <br>
            <b> <a href="googleimages.api"> more images + </a> </b>
    </div>



<div class="container">
    <b> Description:
        <br>
        {{test.detailed}} </b>
</div>

    <input ng-click="voice(test.detailed)" type='button' value='🔊 Play Audio' class="sound"/>
    </p>
</div>

<!--<button type="button" class="btn btn-primary btn-lg btn-block login-button" style="margin-left: 1150px" onclick="signout()">Log Out</button>-->


</div>

</body>
</html>