⁠⁠⁠<!DOCTYPE html>
<html lang="en" ng-app="mashup">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">

    <title>mashup</title>
    <style>


    </style>

    <link rel="stylesheet" href="css/index.css">
    <script src="app.js"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>
<body background="kg1.jpg">

<div ng-controller="mycont">
    <!--<h1 align="absolute" style="text-align: center; color:darkgray">Search your query!</h1>-->
   <b> <marquee behavior="alternate" scrolldelay="290">You have logged in successfully !! Good to knowledge search :) </marquee> </b>
    <input type="text" style="margin-left:200px" ng-model="input" placeholder="enter your search query here" class="in"/>
    <button type="submit" ng-click="searchclick()" class="bt">Search</button>
    <button type="submit" onclick="signout()" class="bt" style="margin-left: 170px">Log Out</button>
    <p id="out"></p>
    <div id="se" style="display:none">
        <p ng-model="test">

       <div class="container">
       <b> Role: <br>
           {{ test.disc}} </b>
       </div>

        <div class="container">
            <b> wiki page link:
                <br>
               <a href= {{ test.wiki}}> {{test.wiki}}</a> </b>
        </div>

        <div class="images">
            <b> looks like: </b>
                <br>
            <img ng-src="{{test.link}}" width="140px" height="110px"> <br>
            <b> <a href="moreimages.html"> more images + </a> </b>
    </div>

<script>
        google.load('search', '1');

        var imageSearch;

        function addPaginationLinks() {

        // To paginate search results, use the cursor function.
        var cursor = imageSearch.cursor;
        var curPage = cursor.currentPageIndex; // check what page the app is on
        var pagesDiv = document.createElement('div');
        for (var i = 0; i < cursor.pages.length; i++) {
        var page = cursor.pages[i];
        if (curPage == i) {

        // If we are on the current page, then don't make a link.
        var label = document.createTextNode(' ' + page.label + ' ');
        pagesDiv.appendChild(label);
        } else {

        // Create links to other pages using gotoPage() on the searcher.
        var link = document.createElement('a');
        link.href="/image-search/v1/javascript:imageSearch.gotoPage("+i+');';
        link.innerHTML = page.label;
        link.style.marginRight = '2px';
        pagesDiv.appendChild(link);
        }
        }

        var contentDiv = document.getElementById('content');
        contentDiv.appendChild(pagesDiv);
        }

        function searchComplete() {

        // Check that we got results
        if (imageSearch.results && imageSearch.results.length > 0) {

        // Grab our content div, clear it.
        var contentDiv = document.getElementById('content');
        contentDiv.innerHTML = '';

        // Loop through our results, printing them to the page.
        var results = imageSearch.results;
        for (var i = 0; i < results.length; i++) {
        // For each result write it's title and image to the screen
        var result = results[i];
        var imgContainer = document.createElement('div');
        var title = document.createElement('div');

        // We use titleNoFormatting so that no HTML tags are left in the
        // title
        title.innerHTML = result.titleNoFormatting;
        var newImg = document.createElement('img');

        // There is also a result.url property which has the escaped version
        newImg.src="/image-search/v1/result.tbUrl;"
        imgContainer.appendChild(title);
        imgContainer.appendChild(newImg);

        // Put our title + image in the content
        contentDiv.appendChild(imgContainer);
        }

        // Now add links to additional pages of search results.
        addPaginationLinks(imageSearch);
        }
        }

        function OnLoad() {

        // Create an Image Search instance.
        imageSearch = new google.search.ImageSearch();

        // Set searchComplete as the callback function when a search is
        // complete.  The imageSearch object will have results in it.
        imageSearch.setSearchCompleteCallback(this, searchComplete, null);

        // Find me a beautiful car.
        imageSearch.execute("Subaru STI");

        // Include the required Google branding
        google.search.Search.getBranding('branding');
        }
        google.setOnLoadCallback(OnLoad);
        </script>




        <script type="text/javascript">
            google.load("search", "15");
        </script>

<div class="container">
    <b> Description:
        <br>
        {{test.detailed}} </b>
</div>

    <input ng-click="voice(test.detailed)" type='button' value='🔊 Play Audio' class="sound"/>
    </p>
</div>

<!--<button type="button" class="btn btn-primary btn-lg btn-block login-button" style="margin-left: 1150px" onclick="signout()">Log Out</button>-->


</div>

</body>
</html>